* {
    box-sizing: border-box;
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #36393F;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.header-menu li{
    margin-left: 50px;
}

.header-menu li a{
    color: white;
    font-size: 15pt;
    display: block;
	line-height: 50px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.header-menu li a:hover{
    text-shadow: 0px 0px 10px gray;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}

.logo {
    position: absolute;
    background-color: white;
    height:50px;
}

.nav {
    float: left;
    width:100%;
    height: 50px;
    background-color: #202225;
}

.header {
    margin: 1em;
    margin-top: 20px;
}

.modes {
    padding: 1em;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows:120px 120px;
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    margin: 1em;
    border: 2px solid red;
}

.mode {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: gray;
    transition-property: box-shadow;
    transition-duration: .3s;
    border: 1px solid #202225;
    border-radius: 15px;
}

.mode:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px #5865F2;
    box-shadow: 0px 0px 10px #5865F2;
}

.mode > a {
    paddint-top: 25px;
    font-size: 25pt;
    color: white;
}

.mode-link:hover{
    text-shadow: 0px 0px 10px #5865F2;
}

.header-img{
    display: grid;
    height: 500px;
    color: white;
    justify-content: center;
    margin: 1em;
    border: 2px solid red;
}